<div class="table-responsive">
  <table class="table table-bordered text-center" style="max-width: 500px; margin: 0 auto; background-color: #fafafa;">
    <thead>
      <tr style="background-color: #f2f2f2; font-weight: bold;">
        <th class="text-center" style="width: 50%;">Size</th>
        <th class="text-center" style="width: 50%;">Chest Width</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small</td>
        <td>35 - 37"</td>
      </tr>
      <tr>
        <td>Medium</td>
        <td>38 - 40"</td>
      </tr>
      <tr>
        <td>Large</td>
        <td>41 - 43"</td>
      </tr>
      <tr>
        <td>XL</td>
        <td>44 - 46"</td>
      </tr>
      <tr>
        <td>2X</td>
        <td>47 - 49"</td>
      </tr>
      <tr>
        <td>3X</td>
        <td>50 - 53"</td>
      </tr>
      <tr>
        <td>4X</td>
        <td>54 - 57"</td>
      </tr>
    </tbody>
  </table>
</div>