/* Login Logo */
.loginLogo {
  max-width: 100%;
  max-height: 175px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
}

/* Main Home Page Banner */
/* Jumbotron settings */
.jumbotron {
  background-color: transparent !important;
}

h2 .jumbotron {
  color: #ffffff;
}

/* Navbar Logo */
.navLogo {
  max-width: 100%;
  max-height: 45px;
}

/* Banner Logo */
.bannerLogo {
  max-width: 100%;
  /*max-height: 250px;*/
}

/*Changes size of images on category page*/
.thumbnail img {
  max-height: 100px;
  /*must match smallest size of thumbnail image*/
  max-width: 100%;
  margin: 0 auto 15px;
}

.NSGCategoryTitle {
  color: #0b3648;
  font-size: 13pt;
  font-style: bold;
  /* offset-x | offset-y | blur-radius | color */
  /*text-shadow: 2px 2px 5px #000000;*/
}

.NSGCategoryTitle:hover {
  color: #e04f4f;
}

/* Theme CSS Edits */
/* Navbar Color - Update This */
.navbar-default {
  background-color: #162138;
  border: 0;
}

/* Highlight Colors - Update These */
.container .navbar-nav li.active a:hover {
  background-color: #98212b;
}

.container .navbar-nav li.active a:focus {
  background-color: #98212b;
}

.navbar-default .navbar-nav .open>a {
  background-color: #98212b;
}

.navbar-default .navbar-nav .open>a:hover {
  background-color: #98212b;
}

.navbar-default .navbar-nav .open>a:focus {
  background-color: #98212b;
}

.navbar-nav li.dropdown li>a:hover {
  background-color: #98212b;
}

.navbar-nav li.dropdown li>a:focus {
  background-color: #98212b;
}

.navbar .container .navbar-nav li.active .fa-caret-down {
  color: #98212b;
}

.navbar-nav li.dropdown li>a {
  color: #333333;
}

.navbar-nav li.dropdown li>a:hover {
  color: #ffffff;
}

.navbar .container .navbar-nav.pull-right li a i:first-of-type {
  border-color: #ffffff;
}

.table .table {
  background-color: #f7f7f7;
}

/* Change Back Left Arrow Color */
.navbar .container .navbar-nav.pull-left li.fadeInLeft a i,
.navbar .container-view .navbar-nav.pull-left li.fadeInLeft a i {
  color: #ffffff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #555555;
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}

.container .navbar-nav li a {
  color: #ffffff;
}

.container .navbar-nav li.active>a {
  background-color: #98212b;
}

.container .navbar-nav li.active>a {
  color: undefined;
}

.navbar-default,
.dropdown-mega {
  border-color: ;
}

.text-primary {
  color: #0b3648;
}

.text-info {
  color: #31708f;
}

.panel .panel-heading {
  border-top: none;
  padding: 0;
}

.panel-primary .panel-heading .panel-title {
  background-color: #98212b;
}

.panel-primary .panel-heading .panel-title {
  color: #ffffff;
}

.panel-default .panel-heading .panel-title {
  background-color: #dedede;
}

.panel-default .panel-heading .panel-title {
  color: #333333;
}

/* userView Page Header colors */
.panel-default .panel-heading .userViewPanelHeader {
  background-color: #98212b;
}

/* userView Page Header Text colors */
.panel-default .panel-heading .userViewPanelHeader {
  color: #ffffff;
}

.panel-primary .panel-heading .panel-instructions {
  background-color: #012568;
}

.panel-primary .panel-heading .panel-instructions {
  color: #ffffff;
}

.panel {
  background-color: #ffffff;
}

.panel-footer {
  background-color: #dedede;
}

.panel-category-list .well {
  background-color: #ffffff;
}

.panel-category-list .well h5 {
  color: #333333;
}

.panel-category-list .well {
  border-color: #dedede;
}