<section class="jumbotron jumbotronInnerShadow" ng-class="{'active': isActive('catalog')}" ng-show="user.Company.LogoUrl">
    <customcarousel></customcarousel>
    <div class="container">
        <div class="row jumboHeaderText"> <!-- pull-left if left allignment wanted again-->
            <div ng-show="Four51User.isAuthenticated()">
                <a ng-click="refreshUser()" href="catalog">
                    <img src="images/NSG-WhiteLogo.png" width="100%" alt="Welcome to National Service Gear - The Volunteer Gear People"/>
                </a>
                <h2 class="thumbnail">
                    <!-- <span class="jumboHeaderText">
                    {{user.Company.Name}}
                </span> -->
                </h2>
                <homemessage />
            </div>
        </div>
    </div>
</section>
