<section class="jumbotron" ng-class="{'active': isActive('catalog')}" ng-show="user.Company.LogoUrl">
  <customcarousel></customcarousel>
  <!-- <div class="container"> -->
  <!-- pull-left if left allignment wanted again-->
  <!-- <div ng-show="Four51User.isAuthenticated()">
        <a href="catalog">
          <img class="bannerLogo" src="https://www.four51.com/Themes/Custom/bf16eda1-bed2-459f-93f6-26f079f9c976/NSG/images/NSG-Home-Banner-2017-2000x600.jpg" alt="Welcome to National Service Gear - The Volunteer Gear People"/>
        </a>
        <homemessage />
      </div>
    </div>
  </div> -->
</section>