<section>
  <!-- Edit Announcement Here -->
  <!-- AmeriCorps Symposium Message -->
  <!-- <div class="panel panel-primary">
    <div class="alert-message">
      <h2 class="panel-title panel-primary">
        {{'AmeriCorps Symposium Announcement' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="text-justify"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> National Service Gear will be attending the 2019 AmeriCorps Symposium in Crystal City, VA on Wednesday, September 18th, and Thursday, September 19th. Be sure to
        stop
        by and say hi to Andy and enter your name for a drawing for some AmeriCorps gear. Also, while supplies last, all attending grantees can stop by and pick up a complimentary USA Made 25th Anniversary AmeriCorps t-shirt provided by National
        Service Gear by Industries for the Blind and Visually Impaired, Inc.</h4>
    </div>
  </div>
  <br> -->
  <!-- Good Friday Holiday -->
  <!-- <div class="panel panel-primary">
    <div class="alert-message">
      <h2 class="panel-title panel-primary">
        {{'Holiday Announcement' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="text-justify"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please be aware that National Service Gear will be closed Friday, April 19th, in observance of Good Friday. We will be open again on Monday, April 22nd, at 8a
        CST. National Service Gear & Industries for the Blind and Visually Imparied would like to wish you and your family a safe and happy holiday weekend.</h4>
    </div>
  </div>
  <br> -->
  <!-- Memorial Day Holiday -->
  <!-- <div class="panel panel-primary">
    <div class="alert-message">
      <h2 class="panel-title panel-primary">
        {{'Memorial Day Announcement' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="text-justify"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please be aware that National Service Gear will be closed Monday, May 27th, in observance of Memorial Day. We will be open again on Tuesday, May 28th, at 8a CST. National Service Gear & Industries for the Blind and Visually Imparied would like to wish you and your family a safe and happy holiday weekend.</h4>
    </div>
  </div>
  <br> -->
  <!-- Independence Day Holiday -->
  <!-- <div class="panel panel-primary">
    <div class="alert-message">
      <h2 class="panel-title panel-primary">
        {{'Independence Day Announcement' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="text-justify"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please be aware that National Service Gear will be closed Friday, July 3rd, in observance of Independence Day. We will be open again on Monday, July 6th, at 8a CST. National Service Gear & Industries for the Blind and Visually Imparied would like to wish you and your family a safe and happy holiday weekend.</h4>
    </div>
  </div>
  <br> -->
  <!-- Labor Day Holiday -->
  <!-- <div class="panel panel-primary">
    <div class="alert-message">
      <h2 class="panel-title panel-primary">
        {{'Labor Day Announcement' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="text-justify"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please be aware that National Service Gear will be closed Monday, September 2nd, in observance of Labor Day. We will be open again on Tuesday, September 3rd, at
        8a CST. National Service Gear & Industries for the Blind and Visually Imparied would like to wish you and your family a safe and happy holiday weekend.</h4>
    </div>
  </div>
  <br> -->
  <!-- Thanksgiving Holiday -->
  <!-- <div class="panel panel-primary">
    <div class="alert-message">
      <h2 class="panel-title panel-primary">
        {{'Thanksgiving Announcement' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="text-justify"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please be aware that National Service Gear will be closed Thursday, November 28th, and Friday, November 29th, in observance of Thanksgiving. We will be open again
        on Monday, December 2nd, at 7a CST. National Service Gear & Industries for the Blind and Visually Imparied would like to wish you and your family a safe and happy holiday weekend.</h4>
    </div>
  </div>
  <br> -->
  <!-- Christmas & New Years Holiday -->
  <!-- <div class="panel panel-primary">
    <div class="alert-message">
      <h2 class="panel-title panel-primary">
        {{'Holiday Announcement' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="text-justify"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please be aware that National Service Gear will be closed December 24th, 25th, 31st, and January 1st, in
        observance of Christmas and New Year's. National Service Gear and Industries for the Blind & Visually Imparied would like to wish you and your family a safe and happy holiday season.</h4>
    </div>
  </div>
  <br> -->
  <!-- Yearly Inventory Message -->
  <!-- <div class="panel panel-primary">
    <div class="alert-message">
      <h2 class="panel-title panel-primary">
        {{'Thank you for your Patience' | r | xlat}}
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="text-justify"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Thank you for your patience during our yearly inventory count. In appreciation of your patience, we’d like to offer a 10% discount on your next order. To receive
        10% off your next order, use the Promotional Code <strong>INVENTORY2019</strong> at checkout on any orders placed starting today. Offer expires Wednesday, October 17th and cannot be retroactively applied to any open orders. Only one promocode
        offer per order please. </h4>
    </div>
    </div>
    <br> -->
  <!-- COVID-19 Message -->
  <!-- <div class="panel panel-primary">
    <div class="alert-message">
      <h2 class="panel-title panel-primary">
        <a href="https://ibvi.org/blog/updates-regarding-covid-19/" target="_blank" alt="Update Regarding COVID-19">
          {{'Update Regarding COVID-19' | r | xlat}}
        </a>
      </h2>
    </div>
    <div class="panel-body">
      <h4 class="text-justify">
        <p><a href="https://ibvi.org/blog/updates-regarding-covid-19/" target="_blank" alt="Update Regarding COVID-19">The outbreak of COVID-19 has affected everyone in our country, including us at National Service Gear by Industries for the Blind and Visually Impaired (IBVI), as well as our partners throughout the US government and military. In this ever-changing situation, IBVI is closely monitoring and adhering to the recommendations provided by experts from the Centers for Disease Control and Office of Personnel Management.</a></p>
        <p>Rest assured, NSG Customer Service and distribution center are both running as normal and all orders placed are shipping as normal. We will do our best to keep you informed in the event anything changes. If you have any further questions or concerns, please get in touch with us by calling between the hours of 8a-6p EST, Monday-Friday, at 1.855.444.0847 or send us an email at <a href="mailto:service@nationalservicegear.org?subject=NSG%20COVID-19%20Inquiry">service@nationalservicegear.org</a>. Please stay safe and be well.</p>
      </h4>
    </div>
  </div>
  <br> -->
  <!-- End Announcement -->
  <!-- Custom Program Stores -->
  <div class="categoryPanel" ng-hide="(currentCategory.Name === 'MLK Day' || currentCategory.Name === '9/11 Day of Service')">
    <h1 class="text-center"><strong>Welcome to the National Service Gear Webstore</strong></h1>
    <h4 class="text-center">To order gear, please select from the listed programs below. If you need something that's not on the webstore or would like to customize any of the available items, please contact Customer Service at 1.855.444.0847 or email us at <a href="mailto:service@nationalservicegear.org?subject=NSG%20Custom%20Quote%20Request">service@nationalservicegear.org</a>.</h4>
    <br>
  </div>
  <!-- END Category Header for Special Categories -->
  <div class="row">
    <categorylistview></categorylistview>
    <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}" />
    <productlistview></productlistview>
  </div>
</section>