<section>
  <!-- Custom Program Stores -->
  <div class="categoryPanel" ng-hide="(currentCategory.Name === 'MLK Day' || currentCategory.Name === '9/11 Day of Service')">
    <h1 class="text-center"><strong>Welcome to the National Service Gear Webstore</strong></h1>
    <h4 class="text-center">To order gear, please select from the listed programs below. If you need something that's not on the webstore or would like to customize any of the available items, please contact Customer Service at 1.855.444.0847 or email us at <a href="mailto:service@nationalservicegear.org?subject=NSG%20Custom%20Quote%20Request">service@nationalservicegear.org</a>.</h4>
    <br>
  </div>
  <!-- END Category Header for Special Categories -->
  <div class="row">
    <categorylistview></categorylistview>
    <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}" />
    <productlistview></productlistview>
  </div>
</section>