<section>
    <!-- Edit Announcement Here -->
    <br />
    <div class="panel panel-primary">
		<div class="panel-heading">
		  <h2 class="panel-title panel-primary">
		    {{'Announcement' | r | xlat}}
		  </h2>
		</div>
		<div class="panel-body">
		  <h4 class="NSGcenter">National Service Gear will be closed on Monday, May 30 in observance of Memorial Day. Online orders placed over the weekend and on Monday will ship on Tuesday, May 31st. National Service Gear wishes you and your family a safe and Happy Holiday weekend.</h4>
		</div>
	</div>
    <br />
    <!-- End Announcement -->
    <nav id="451qa_nav_hdr" class="nav">
        <ul>
            <li class="hidden-sm hidden-xs">
                <span ng-click="toggleNav()"><i class="fa fa-bars" ng-class="{ 'text-info': navStatus.visible }"></i></span>
            </li>
            <li>
                <span id="451_lbl_curcat" class="text-primary" ng-bind-html="currentCategory.Name || '  {{'Programs' | r | xlat}}'"></span>
            </li>
            <li class="customSearchBar">
              <productsearchinput></productsearchinput>
                <!--<a href="search">
                    <span><i class="fa fa-search text-primary"></i></span>
                </a> -->
            </li>
        </ul>
    </nav>
    <div class="row">
        <aside class="col-md-3 visible-md visible-lg" ng-if="navStatus.visible">
            <div class="panel panel-default panel-nav">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{'Program List' | r | xlat}}
                    </h3>
                </div>
                <nav class="nav 451qa_sidenav panel-body">
                    <ul>
                        <categorycollapse tree='tree' current='currentCategory'></categorycollapse>
                    </ul>
                </nav>
            </div>
        </aside>
        <div ng-class="{ 'col-md-9': navStatus.visible, 'col-md-12': !navStatus.visible }" >

            <categorylistview></categorylistview>

            <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}"/>

            <productlistview></productlistview>

        </div>
    </div>
</section>
