<form name="giftcard_redeem" ng-submit="redeemGiftCard()" class="gift-card-redemption-view">
    <div class="form-group view-form-icon">
        <div>
            <label>{{('Enter' | r) + ' ' + ('Gift' | r) + ' ' + ('Card' | r) + ' ' + ('Code' | r) + ' ' + ('Below' | r) | xlat}}</label><!-- ng-show="giftcard.Code"-->
            <div class="NSGtooltip FontSize10">Gift Card Instructions
                <span class="NSGtooltiptext">Tooltip text</span>
            </div>
            <div class="input-group">
                <input class="form-control" type="text" ng-model="giftcard.Code" placeholder="{{('Gift' | r) + ' ' + ('Card' | r) + ' ' + ('Code' | r) + ' ' + ('Here' | r) | xlat}}" autocomplete="off"/>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" value="Refresh Page" onclick="alert('A gift card has been attached to your account and will be available under Spending Account/Gift Card of the Billing step of the checkout process while a balance remains.');window.location.reload(5);"><i class="fa fa-check"></i></button>
                </span>
            </div>
            <i class="fa fa-dollar"></i>
        </div>
        <div ng-show="giftcard.Balance" class="alert alert-info">
            {{'A gift card' | xlat}}, <strong>{{giftcard.Code}}</strong>, {{'with a balance of' | xlat}} <strong>{{giftcard.Balance | culturecurrency}}</strong> {{'has been attached to your account and will be available under Spending Account/Gift Card of the Billing step of the checkout process while a balance remains' | xlat}}.
        </div>
    </div>
</form>
