<header class="header navbar navbar-inner">
  <nav tolerance='0' offset='75' class="navbar navbar-default navbar-fixed-top" role="navigation" headroom>
    <!-- tolerance='20'  -->
    <section>
      <div class="container">
        <ul class="nav navbar-nav pull-left">
          <!-- Left Arrow/Back Icon -->
          <li class="back animated fadeInLeft" ng-class="{'ng-hide': isActive('catalog')}">
            <a href back-step class="back">
              <i class="fa fa-arrow-left"></i>
            </a>
          </li>
          <!-- Navbar Menu Icon -->
          <!-- This icon is for the wider screen -->
          <li id="" class="back animated fadeInLeft hidden-xs">
            <a id="451qa_home_link" class="" style="padding: 6px 10px 0px 10px; text-align: center;" href="catalog" ng-show="Four51User.isAuthenticated()">
              <img class="image-responsive navLogo" ng-src="https://www.four51.com/Themes/Custom/bf16eda1-bed2-459f-93f6-26f079f9c976/NSG/images/NSG_primary_nav.png" src="https://www.four51.com/Themes/Custom/bf16eda1-bed2-459f-93f6-26f079f9c976/NSG/images/NSG_primary_nav.png" alt="National Service Gear primary logo" />
            </a>
          </li>
          <!-- This icon is for the slimmer screen -->
          <li id="" class="back animated fadeInLeft hidden-sm hidden-md hidden-lg">
            <a id="451qa_home_link" class="" style="padding: 6px 10px 0px 10px; text-align: center;" href="catalog" ng-show="Four51User.isAuthenticated()">
              <img class="image-responsive navLogo" ng-src="https://www.four51.com/Themes/Custom/bf16eda1-bed2-459f-93f6-26f079f9c976/NSG/images/NSG_circle_nav.png" src="https://www.four51.com/Themes/Custom/bf16eda1-bed2-459f-93f6-26f079f9c976/NSG/images/NSG_circle_nav.png" alt="National Service Gear circle logo" />
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li class="contactus" ng-if="user.Permissions.contains('ViewContactUs')" ng-hide="user.Type == 'Customer'" ng-class="{'active': isActive('contactus')}">
            <a id="451qa_mesg_link" href="contactus">
              <i class="fa fa-question-circle"></i>
              <span class="hidden-xs">{{'About Us/Help' | r | xlat}}</span>
            </a>
          </li>
          <li class="contactus" ng-if="user.Permissions.contains('ViewContactUs')" ng-show="user.Type == 'Customer'" ng-class="{'active': isActive('contactus')}">
            <a id="451qa_mesg_link" href="contactus">
              <i class="fa fa-question-circle"></i>
              <span class="hidden-xs">{{'About Us/Help' | r | xlat}}</span>
            </a>
          </li>
        </ul>
    </section>
  </nav>
  <nav class="dropdown-mega">
    <a class="dropdown-toggle text-center" data-toggle="dropdown">
      <i class="fa fa-angle-down text-primary"></i>
    </a>
    <ul class="451qa_topnav dropdown-menu">
      <categorytree tree='tree' current='currentCategory' />
    </ul>
  </nav>
</header>