<!-- This file was edited by $ak -->
<div class="451qa_prod_item row" style="height: 480px !important; min-height: 480px !important;"> <!-- Adjusting the height changes the size of product icons so the fit into a grid more uniformly-->
  <div class="col-xs-12 text-center">
    <a class="thumbnail" href="{{LineItem.Product.Type == 'Kit' ? 'kit' : 'product'}}/{{LineItem.Product.InteropID}}">
      <figure ng-show="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl">
        <img ng-src="{{LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl}}" />
      </figure>
      <div class="empty" ng-hide="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl">
        <span class="fa empty"><i class="fa fa-camera"></i></span>
      </div>
    </a>
  </div>
  <div class="col-xs-12 text-left">
    <div class="panel-body">
      <h4 class="text-center">
        {{LineItem.Product.Name}}
      </h4>
      <div>
        <p ng-bind-html="trustedDescription(LineItem.Product)" ng-show="LineItem.Product.Description" />
        <h5 ng-show="LineItem.Product.ExternalID" class="text-info text-truncate">
          {{'Item #' | r | xlat}}: {{LineItem.Product.ExternalID}}
        </h5>
        <!-- Shows price on category page -->
        <h4 ng-show="LineItem.PriceSchedule.PriceBreaks[0].Price > 0" ng-if="!(user.Permissions.contains('HidePricing'))">
          <span ng-if="LineItem.Product.ExternalID.endsWith('MTO') || LineItem.Product.Name.startsWith('Made-To-Order')">Pricing starting at </span>
          {{LineItem.PriceSchedule.PriceBreaks[0].Price | culturecurrency}}
        </h4>
      </div>
    <br />
    <a class="btn btn-default btn-block" href="product/{{LineItem.Product.InteropID}}">{{('View' | r) + ' ' + ('Product' | r) | xlat}}</a>
    </div>
  </div>
</div>