<h3>Payment information</h3>
  <h4>Credit Cards</h4>
  <p>
    Charges on credit card statements will appear as Industries for the Blind and Visually Impaired, Inc. We accept prepayment by credit card: VISA and MasterCard. Please be aware that your credit card will be charged at the moment you submit your order (the transaction will be authorized and settled right away). If you have any questions regarding this or need to make other arrangements, please notify us right away and we'll work with you to fit your organization's needs.
  </p>
  <h4>Purchase Orders</h4>
  <p>
    We gladly accept Purchase Orders from established organizations. To set your organization up on Net/Credit Terms with us, please complete our <a href="https://www.four51.com/Themes/Custom/bf16eda1-bed2-459f-93f6-26f079f9c976/NSG/docs/CreditApplication.pdf" target="_blank">Credit Application</a> and email it to us at <a href="mailto:service@nationalservicegear.org?subject=I%20Want%20To%20Get%20Setup%20On%20Terms%20With%20National%20Service%20Gear!">service@nationalservicegear.org</a>. The whole process takes about 2-10 business days depending on your trade references and how quickly they get back to us. Any questions or concerns, just give us a holler.
  </p>
  <h4>Check Payments</h4>
  <p>
    To pay by check, please contact us via email at <a href="mailto:service@nationalservicegear.org?subject=Prepayment%20By%20Check%20Please">service@nationalservicegear.org</a> to get set up. Please note that orders paid by check will not ship until we have received and processed your payment.
  </p>
  <h3>Sales Tax</h3>
  <div class="bullet-list">
    <p>
      Because Industries for the Blind and Visually Impaired, Inc. has a physical presence ("footprint") in the following states, we are required to charge the appropriate state sales tax on orders shipped to:
    </p>
    <ul>
      <li>
        Arizona, California, Connecticut, District of Columbia, Florida, Illinois, Louisiana, Maryland, Massachusetts, Minnesota, Mississippi, Nevada, New Mexico, Ohio, Pennsylvania, South Carolina, Tennessee, Texas, Utah, Vermont, and Wisconsin.
      </li>
    </ul>
    <br>
    <p>
      <em>**Tax-Exempt Organizations:** If your organization is tax-exempt in one of these states, you must provide us with a copy of your **State Tax Exempt Certificate** *before* we can process your order without charging sales tax. Please email them here to <a href="mailto:service@nationalservicegear.org?subject=Tax%20Exempt%20Certificate">service@nationalservicegear.org</a>.</em>
    </p>
  </div>