<div class="panel-body" style="font-family:sans-serif">
    <h2>Terms of Service, Forms &amp; Other Fun Facts</h2>
    <h3>Who We Are</h3>
    <p>
        Thank you for shopping with National Service Gear. National Service Gear is the official provider of volunteer clothing, gear, and recruitment items to the Corporation for National &amp; Community Service and its programs. If you don't see what you're looking for, please contact Customer Service at 1.855.444.0847 or email us at <a href="mailto:service@nationalservicegear.org?subject=NSG%20Custom%20Order%20Inquiry">service@nationalservicegear.org</a>. We'll work with you to find a custom product that meets the needs of your program and targeted audience!
    </p>
    <p>
        National Service Gear is a brand of Industries for the Blind, Inc. Our mission is to provide and grow meaningful employment opportunities for people who are blind or visually impaired. Industries for the Blind, Inc. is a non-profit organization dedicated to providing employment opportunities to blind professionals through the identification and fulfillment of customer needs. We serve a wide range of customers from the federal government and military installations, to Fortune 500 companies and small businesses. We provide these companies with the supplies they need to keep daily operations running smoothly. These supplies include anything and everything from office supplies to furniture and janitorial to tool and maintenance products. <a href="https://www.ibmilw.com/organization/" target="_blank">Learn more about IB</a>.
    </p>
    <h3>Payment information</h3>
    <h4>Credit Cards</h4>
    <p>
        Charges on credit card statements will appear as Industries for the Blind, Inc. We accept prepayment by credit card - VISA, MasterCard, American Express, and Discover are all accepted on the webstore. Please be aware that if you are paying by credit card, your order will be authorized and settled at the moment you submit your order. If you have any questions regarding this or need to make other arrangements, please notify us right away and we'll work with you to fit your organization's needs.
    </p>
    <h4>Purchase Orders</h4>
    <p>
        Purchase Orders are accepted however we need to get your organization setup with ours on credit terms. To do this, we just need you to fill out our <a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/NSG/docs/CreditApplication.pdf" target="_blank">Credit Application</a> and email it back to us at <a href="mailto:service@nationalservicegear.org?subject=I%20Want%20To%20Get%20Setup%20On%20Terms%20With%20National%20Service%20Gear!">service@nationalservicegear.org</a>. The whole process takes about 2-10 business days depending on your trade references and how quickly they get back to us. Any questions or concerns, just give us a holler.
    </p>
    <h4>Check Payments</h4>
    <p>
        If you want to be setup to prepay by check, no problem, please contact us via email at <a href="mailto:service@nationalservicegear.org?subject=Check%20Please">service@nationalservicegear.org</a>. Check orders won't ship until after we've received your check.
    </p>
    <h3>Sales Tax</h3>
    <p>
        Industries for the Blind, Inc. does have a footprint in certain states and must charge state sales tax for any orders being shipped to one of these states: California, Connecticut, District of Columbia, Florida, Illinois, Maryland, Massachusetts, Nebraska, Nevada, New Mexico, Ohio, Pennsylvania, South Carolina, Tennessee, Texas, Utah, Virginia, Washington, and Wisconsin.
    </p>
    <p>
        If your organization is exempt from state sales taxes in the state we're shipping your order to, please email a copy of your State Tax Exempt Certificate to Customer Service at <a href="mailto:service@nationalservicegear.org?subject=Here's%20My%20Tax%20Exempt%20Certificate">service@nationalservicegear.org</a> or fax it to 608-836-1640 before placing your order. We appreciate your help in this matter as it keeps us from paying additional fees to reprocess credit card payments.
    </p>
    <h3>Shipping and Processing</h3>
    <p>
        All orders will be processed in 2-3 business days. If your order is received before 10a CST, it will be entered that day and the process starts there. If the order is received after 10a CST, it will be entered the next business day and the process will begin there.
    </p>
    <p>
        Any orders with expedited shipping will ship out via that method after processing. If the order is received after 10a CST, processing will begin the next business days. Same day processing available for stock items only by request with Customer Service - same day order processing must be requested before 10a CST by calling into Customer Service at 1.855.444.0847.
    </p>
    <p>
        Orders originate from Southern Wisconsin. <a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/AmeriCorps/docs/UPSServiceMapping.pdf" target="_blank">Click here</a> to view a shipping map.
    </p>
    <p>
        All packages ship UPS and cannot be delivered to a PO Box. If other arrangements need to be made with a different shipping method, please call Customer Service at 1.855.444.0847.
    </p>
    <p>
        For free UPS Ground shipping on orders over $300, please enter the Promotion Code SHIP300 at checkout.
    </p>
    <p>
        Any free shipping promotions apply only to UPS Ground Shipping within the contiguous United States. If the promo is entered and expedited shipping is selected, the promo will be removed upon receipt of order by Customer Service. If an order is made for a location outside the contiguous United States, Customer Service will apply the UPS Ground Rate and email the customer who made the order. For a shipping quote for expedited shipping or rates outside the contiguous United States, please call Customer Service at 1.855.444.0847.
    </p>
    <h3>Placing An Order</h3>
    <h4>To Order Stock Merchandise</h4>
    <p>
        Select products featured in the store are carried in Stock, pre-printed with the AmeriCorps logo and available immediately. These items are identified by the item number prefix 'C-'. To order Stock merchandise, simply pick your items and quantities, add to your shopping cart and proceed through the checkout process.
    </p>
    <h4>To Order Purchase Power Items</h4>
    <p>
        To offer a wide variety of gear and colors, we are very proud to offer our Purchase Power program. Purchase Power items run on a monthly cycle and are shipped out based off of the schedule provided under the respective item's description. These items are identified by the item number prefix 'P-'. To order Purchase Power merchandise, simply pick your items and quantities, add to your shopping cart and proceed through the checkout process. If you choose an expedited shipping method for this item, it will ship via that method after the scheduled production time.
    </p>
    <h4>To Order Digitally Printed Items</h4>
    <p>
        We love our digital printer. We can print just about anything on most tees and hoods at a low cost and pass those savings to you. Anything printed with our digital will typically ship out in 10-15 business days, unless noted differently under the respective item's description. These items are identified by the item number prefix 'KD-'. To order Digital merchandise, simply pick your items and quantities, add to your shopping cart and proceed through the checkout process. If you choose an expedited shipping method for this item, it will ship via that method after the scheduled production time.
    </p>
    <h4>To Order Custom Products</h4>
    <p>
        Are you looking for items that feature your organization or program name? We offer a wide variety of items with the option to add your own customized designs! We have many items that can be customized or branded to fit your needs. Some of our items have the option built in to brand or customize. If you see any item that you would like branded or customized that doesn't have that option, please contact us and we'll help you get your order placed. Custom orders typically ship out after 10-20 business days.
    </p>
    <h4>To Obtain Quote or Pre-Order Invoice</h4>
    <p>
        We understand that you may need a written quote or pre-order invoice prior to ordering. If this is the case, please shoot us an email with the items you need and all pertinent information and we'll reply back with your required docs.
    </p>
    <h4>Other Ordering Information</h4>
    <ul>
        <li>
            E-mail (preferred): You may e-mail your order to: <a href="mailto:service@nationalservicegear.org?subject=Here's%20My%20National%20Service%20Gear%20Order!">service@nationalservicegear.org</a><br />
        </li>
        <li>
            Fax: You may fax your order to: 1.608.836.1640<br />
        </li>
        <li>
            Phone: You may phone your order to us toll-free at 1.855.444.0847 - For Phone orders, our office is open Monday-Friday from 8a-5p CST
        </li>
    </ul>
    <h3>Returns</h3>
    <h4>Returning Stock, Purchase Power, or Digital Items</h4>
    <p>
        If you need to make a return, please contact Customer Service for a Return Authorization number - please contact us Monday – Friday, between the hours of 8a-5p CST at 855.444.0847 or email us at <a href="mailto:service@nationalservicegear.org?subject=Here's%20My%20National%20Service%20Gear%20Order!">service@nationalservicegear.org</a>.
    </p>
    <p>
        Returns of Stock, Purchase Power, or Digital items must be made within 30 days of receipt of your order and are subject to a 10% restocking fee. Original freight will not be credited and you are responsible for return freight. However, if we have made an error in processing an order, we will make it right at no cost to the customer. Credit will be issued for the value of the returned items less restock fee and freight within 5-10 business days from the date your items are returned. We will reimburse you using the same method you used for payment. We do not accept returns for items worn, soiled or washed. Download our <a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/NSG/docs/ReturnForm.pdf" target="_blank">Return Form</a> and enclose this entire form with your return and pack the items in a sturdy box. Be sure to get a tracking number for your return shipment - we are not responsible for cost of merchandise lost in transit.
    </p>
    <h4>Custom Items</h4>
    <p>
        Custom items cannot be returned for any reason, except if it is defective. If the item is defective, please make it known to us within 5 business days of receipt of order. Unfortunately there are no exceptions to this so please communicate with us if you have any questions or concerns regarding this policy.
    </p>
    <h4>Defective Items</h4>
    <p>
        If you happen to receive a defective item, we're very sorry and want to be sure that your case is resolved immediately. Please let us know within 5 business days of receipt of your order so that we can issue you a Return Authorization number and replace, or refund in full, your defect in a timely manner. Merchandise received without a Return Authorization will not be credited.
    </p>
    <h3>Cancelling Orders</h3>
    <p>
        If you need to cancel an order for any reason, please contact us right away. Please be aware that restocking fees may apply. Orders for Custom Items can only be cancelled prior to art approval and restocking fees may apply.
    </p>
    <h3>Disclaimer</h3>
    <ul>
        <li>National Service Gear is a registered trademark and global brand of Industries for the Blind, Inc.</li>
        <li>We may not be able to guarantee the availability of all stock products at all times.</li>
        <li>We reserve the right to change pricing on stock items as needed without notice.</li>
        <li><a href="https://www.ibmilw.com/who-we-are/privacy/" target="_blank">Privacy Statement</a></li>
    </ul>
    <h3>Forms</h3>
    <ul>
        <li>
            To obtian a copy of these Terms, please click here: <strong><a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/NSG/docs/Terms.pdf" target="_blank">Terms of Service</a></strong>
        </li>
        <li>
            <strong><a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/NSG/docs/ReturnForm.pdf" target="_blank">Return Form</a></strong>
        </li>
        <li>
            <strong><a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/NSG/docs/CreditApplication.pdf" target="_blank">Credit Application</a></strong>
        </li>
    </ul>
    <br>
    <p>
        Do you have any questions or need any help? Please call Customer Service Monday-Friday, between the hours of 8a-5p CST at 1.855.444.0847 or e-mail your question to <a href="mailto:service@nationalservicegear.org?subject=General%20Question%20about%20the%20National%20Service%20Gear%20Webstore">service@nationalservicegear.org</a>.
    </p>
</div>
