<div class="panel panel-primary">
		<div class="panel-heading">
		  <h2 class="panel-title panel-primary">
		    {{'Order Acknowledgement' | r | xlat}}
		  </h2>
		</div>
		<div class="panel-body">
		  <h4 class="NSGcenter"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Thank you for your order! Your order just created a job for a blind American! National Service Gear is a brand of Industries for the Blind-Milwaukee. Your purchases provide employment for blind Americans and help fight the more than 70% unemployment of this community. Thank you for supporting our mission. <strong>Your order will be processed in the next 2-3 business days after which it will ship out via the method you selected.</strong> Any questions or concerns, please get in touch with us by calling at 1.855.444.0847 or send us an email here: <a href="mailto:service@nationalservicegear.org?subject=NSG%20Customer%20Inquiry">service@nationalservicegear.org</a>.</h4>
		</div>
</div>
