<div class="panel panel-primary">
	<div class="panel-heading">
		<h2 class="panel-title panel-primary">
			{{'Thank you for your order!' | r | xlat}}
		</h2>
	</div>
	<div class="panel-body">
		<h4 class="text-justify">Your order just helped create a job for blind and visually impaired Americans! National Service Gear is a brand of Industries for the Blind and Visually Impaired, Inc., and your purchases provide employment for blind and visually impaired Americans and helps fight the more than 70% unemployment of this community. Thank you for supporting our mission. <strong>Your order will be processed in the next 2-3 business days after which it will ship out via the UPS method you selected.</strong> Any questions or concerns, please get in touch with us Monday through Friday, 8a-4p CT, by calling our Customer Service line at 1.855.444.0847 or send us an email here: <a href="mailto:service@nationalservicegear.org?subject=NSG%20Customer%20Inquiry">service@nationalservicegear.org</a>. <strong>Please also check your email or spam folder for an email acknowledgement/receipt with order ID: {{order.ExternalID}}.</strong></h4>
	</div>
</div>
