<!-- <div class="panel panel-primary">
		<div class="panel-heading">
		  <h2 class="panel-title panel-primary">
		    {{'Important Announcement -- PLEASE READ' | r | xlat}}
		  </h2>
		</div>
		<div class="panel-body">
		  <h4 class="text-center"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Please be aware and plan accordingly: To help order processing and flow, National Service Gear's Fulfillment Center is currently closed for maintenance and no orders will be processed or shipped. The Fulfillment Center will reopen on August 1st and all stock orders placed during the downtime will begin shipping out. Customer Service & the webstore are still open and ready to take your orders. We apologize for the inconvenience this may cause. Any questions or concerns, please get in touch with us by calling at 1.855.444.0847 or send us an email here: <a href="mailto:service@nationalservicegear.org?subject=NSG%20Maintenance%20Question">service@nationalservicegear.org</a>.</h4>
		</div>
</div>-->
