<!-- <div class="panel-body">
  <h4>Important Announcement -- PLEASE READ</h4>
  <p>National Service Gear's fulfillment center will be undergoing maintenance Wednesday, July 5th, through Friday, July 14th/Monday, July 17th and may disrupt our standard 2-3 business day process time. This will affect orders placed on and after July 1st for stock items and Purchase Power items only, custom items are not affected. We hope to be back at full power by July 17th. Due to this inconvenience we will ship any orders placed during the downtime via Next Day Air at no extra charge to you. Please remember, order process time may be longer than the standard 2-3 days so plan accordingly when placing your order. We apologize for any inconvenience and appreciate your patience.</p>
  <br>
</div>-->
