<div class="panel-body">
  <h4>
    <strong>PLEASE DO NOT ENTER A PO BOX - ALL ORDERS SHIP UPS - UPS WILL NOT DELIVER TO PO BOXES</strong>
  </h4>
  <p>
    All orders shipping UPS Ground within the contiguous 48 U.S. states is free. All other shipping methods, including expedited, will receive discounted UPS rates.
  </p>
  <p>
    If selecting an expedited shipping method, please be aware that there will still be a <i>2-3 business day</i> processing period before we ship your order. If your order is received before 10a CST, it will be entered that day and the processing time starts there. If the order is received after 10a CST, it will be entered the next business day and the processing time will begin there.
  </p>
  <p>
    If you need to make arrangements to ship anything other than UPS, please send us an email to <a href="mailto:service@nationalservicegear.org?subject=NSG%20Shipping%20Options%20Request">service@nationalservicegear.org</a> before submitting your order.
  </p>
  <p>Stock orders originate from Southern Wisconsin. <a href="https://www.four51.com/Themes/Custom/bf16eda1-bed2-459f-93f6-26f079f9c976/NSG/docs/UPSServiceMapping.pdf" target="_blank">Click here</a> to view a shipping map.</p>
</div>
<br>