<div class="panel-body">
  <h4><strong>PLEASE DO NOT ENTER A PO BOX - ALL ORDERS SHIP UPS - UPS WILL NOT DELIVER TO PO BOXES</strong></h4>
  <p>
    All orders shipping UPS Ground within the contiguous 48 U.S. states is free. All other shipping methods, including expedited, will receive discounted UPS rates.
  </p>
  <p>
    If you need to make arrangements to ship anything other than UPS, please send us an email to <a href="mailto:service@nationalservicegear.org?subject=NSG%20Shipping%20Options%20Request">service@nationalservicegear.org</a> before submitting your
    order.
  </p>
</div>
<br>