<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title panel-primary">
      {{'Shipping and Processing' | r | xlat}}
    </h2>
  </div>
  <div class="panel-body FontSmall">
    <p>
      All orders will be processed in 2-3 business days. If your order is received before 10a CST, it will be entered that day and the process starts there. If the order is received after 10a CST, it will be entered the next business day and the
      process will begin there.
    </p>
    <p>
      Any orders with expedited shipping will ship out via that method after processing. If the order is received after 10a CST, processing will begin the next business days. Same day processing available for stock items only by request with Customer
      Service - same day order processing must be requested before 10a CST by calling into Customer Service at 1.855.444.0847.
    </p>
    <p>
      Orders originate from Southern Wisconsin. <a href="https://www.four51.com/Themes/Custom/cdde0792-3f36-497d-88eb-12c282cba5d2/AmeriCorps/docs/UPSServiceMapping.pdf" target="_blank">Click here</a> to view a shipping map.
    </p>
    <p>
      All packages ship UPS and cannot be delivered to a PO Box. If other arrangements need to be made with a different shipping method, please call Customer Service at 1.855.444.0847.
    </p>
    <p>
      All orders shipping UPS Ground within the contiguous 48 U.S. states is free. All other shipping methods, including expedited, will receive discounted UPS rates.
    </p>
  </div>
</div>